.q-wrapper {
  padding: 0 3rem 0 3rem;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  flex-direction: column;
  gap: 2rem;
  position: relative;
}

.q-heading {
  align-items: center;
}

.q-heading > * {
  font-size: 2rem;
  font-weight: bold;
}

.q-heading span:nth-of-type(2) {
  color: var(--orange);
}

.q-blur1 {
  left: 28rem;
  top: 9rem;
}

.q-blur2 {
  top: 9rem;
  left: 0;
}

.qualification {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 2rem;
  width: 30rem;
  height: 12rem;
  background: rgba(255, 255, 255, 0.26);
  border: 7px solid var(--blueCard);
  box-shadow: var(--boxShadow);
  border-radius: 20px;
}

.qualification > img {
  width: 5rem;
  height: 5rem;
  border-radius: 100%;
  border: 3px solid var(--black);
}

.yop span:nth-of-type(1) {
  font-weight: bold;
}
.univ span:nth-of-type(1) {
  font-weight: bold;
}
.percent span:nth-of-type(1) {
  font-weight: bold;
}

/* slider */

.q-wrapper .swiper {
  width: 100%;
  height: 70%;
}

.q-wrapper .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 480px) {
  .q-wrapper {
    padding: 0;
  }
  .qualification > img {
    width: 70px;
    height: 70px;
  }
}
